.main-content {
  margin-top: 2.5rem;
}

.profile-picture {
  height: 300px;
  width: 300px;
  padding: 0;

  img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}

