.main-content {
  margin-top: 2.5rem;
}

.profile-picture {
  height: 300px;
  width: 300px;
  padding: 0;
  max-width: none;

  img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  &:hover {
    cursor: pointer;
    position: relative;

    &:after {
      content: ' ';
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-position: center center;
      background-size: 50% auto;
      background-repeat: no-repeat;
      background-image: url("/static/assets/images/light-camera-icon.svg");
      border-radius: 50%;
    }
  }
}

.user-data {
  min-width: 360px;
}

.input-block {
  min-width: 300px;
  width: 100%;

  input {
    min-width: 200px;
  }

  label {
    min-width: 100px;
  }
}

.modal-body {
  .crop-container {
    .src-image-container {
      max-height: 800px;
      min-height: 300px;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}



