<div class="category-container d-flex justify-content-start">
    {% for c in category_hierarchy %}
        <div class="dropdown category me-1">
            <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                {{ c.name }}
            </button>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li hx-get={% if c.parent %}"{% url "categories" pk=c.parent.id %}"{% else %}"{% url "root-categories" %}"{% endif %} hx-target=".category-container" hx-swap="outerHTML" hx-trigger="click">
                    <a class="dropdown-item" href="#">--</a>
                </li>

                {% for s in  c.siblings %}
                    {% if s.id == c.id %}
                        <li hx-get="{% url "categories" pk=s.id %}" hx-target=".category-container" hx-swap="outerHTML" hx-trigger="click">
                            <a class="dropdown-item active" href="#">{{ s.name }}</a>
                        </li>
                    {% else %}
                        <li hx-get="{% url "categories" pk=s.id %}" hx-target=".category-container" hx-swap="outerHTML" hx-trigger="click">
                            <a class="dropdown-item" href="#">{{ s.name }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

        {% if forloop.last and c.children %}
            <div class="dropdown category ms-1">
                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    --
                </button>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li hx-get="{% url "categories" pk=c.id %}" hx-target=".category-container" hx-swap="outerHTML" hx-trigger="click">
                        <a class="dropdown-item active" href="#">--</a>
                    </li>

                    {% for ch in  c.children %}
                        <li hx-get="{% url "categories" pk=ch.id %}" hx-target=".category-container" hx-swap="outerHTML" hx-trigger="click">
                            <a class="dropdown-item" href="#">{{ ch.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <input type="number" name="category" class="form-control" id="category-filter-input" value="{{ c.id }}">
        {% endif %}

    {% endfor %}
</div>