{% extends 'base.html' %}
{% load static %}

{% block extra_meta %}
    <link rel="stylesheet" href="{% static "/scss/users/common_user_edit_profile.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.css"/>
{% endblock %}

{% block main %}
    <div class="container main-content">

        <form class="row row-cols-md-3 justify-content-start" method="post" action="{% url "edit-profile" %}"
              enctype="multipart/form-data">

            {% csrf_token %}

            {# Image block       #}
            <input class="d-none" type="text" id="id_crop_data_form_input" name="crop_data">
            <input class="d-none" type="file" id="id_image_src_input" accept="image/*">
            <label for="id_image_src_input">
                <div class="profile-picture">
                    <img id="id_avatar_representation" class="m-auto" src="{{ user.get_image }}" alt="User Photo"/>
                </div>
            </label>

            {% include 'users/common_user/modal/image-cropper-modal.html' %}

            {# User personal data block           #}
            <div class="col user-data ms-5 mt-5">
                {# EMAIL #}
                <div class="row mt-1">
                    <div class="col">
                        <h6 class="d-inline">
                            <small class="text-muted">Email:</small>
                        </h6>
                        <div class="email d-inline">
                            {{ user.email }}
                        </div>
                    </div>
                </div>

                <div class="edit-block mt-4">
                    {# USERNAME #}
                    <div class="row input-block">
                        <div class="error">
                            {{ form.username.errors }}
                        </div>
                        <div class="col d-inline-flex align-items-center">
                            <label for="id_username_input" class="h6 form-label">
                                <small class="text-muted">Username:</small>
                            </label>

                            <input id="id_username_input" type="text" {% if form.username.value %}
                                   value="{{ form.username.value }}" {% endif %} class="form-control"
                                   placeholder="Username" aria-label="Username" name="username">
                        </div>
                    </div>

                    {# PHONE #}
                    <div class="row mt-1 input-block">
                        <div class="error">
                            {{ form.phone_number.errors }}
                        </div>
                        <div class="col d-inline-flex align-items-center">
                            <label for="id_phone_input" class="h6 form-label">
                                <small class="text-muted">Phone:</small>
                            </label>

                            <input id="id_phone_input" type="text" {% if form.phone_number.value %}
                                   value="{{ form.phone_number.value }}" {% endif %} class="form-control"
                                   placeholder="Phone" aria-label="Phone" name="phone_number">
                        </div>
                    </div>
                </div>

                <div class="button-block">
                    <a class="btn btn-secondary mt-5" href="{% url "profile" pk=user.id %}" role="button">Cancel</a>
                    <button class="btn btn-primary mt-5" type="submit" role="button">Save Changes</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.js"></script>
    <script src="{% static "js/editProfileScript.js" %}"></script>
{% endblock %}