{% extends 'base.html' %}
{% load static %}

{% block extra_meta %}
    <link rel="stylesheet" href="{% static "/scss/users/common_user_profile.css" %}">
{% endblock %}

{% block main %}
    <div class="container main-content">
        <div class="row row-cols-md-3 justify-content-start">
            <div class="profile-picture">
                <img class="m-auto" src="{{ profile.get_image }}"/>
            </div>

            <div class="col user-data ms-5 mt-5">

                {# USERNAME #}
                <div class="row">
                    <div class="col">
                        <h6 class="d-inline">
                            <small class="text-muted">Username:</small>
                        </h6>
                        <div class="username d-inline">
                            {{ profile.username }}
                        </div>
                    </div>
                </div>

                {% if  show_contacts %}
                    {# EMAIL #}
                    <div class="row mt-1">
                        <div class="col">
                            <h6 class="d-inline">
                                <small class="text-muted">Email:</small>
                            </h6>
                            <div class="email d-inline">
                                {{ profile.email }}
                            </div>
                        </div>
                    </div>

                    {# PHONE #}
                    <div class="row mt-1">
                        <div class="col">
                            <h6 class="d-inline">
                                <small class="text-muted">Phone:</small>
                            </h6>
                            <div class="phone d-inline">
                                {% if profile.phone_number is not None %}
                                    {{ profile.phone_number }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}

                <a class="btn btn-outline-danger mt-5" href="#" role="button" data-bs-toggle="modal"
                   data-bs-target="#deleteProfileModal">Delete Profile</a>
                <a class="btn btn-primary mt-5" href="{% url "edit-profile" %}" role="button">Edit Profile</a>

            </div>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteProfileModal" tabindex="-1" aria-labelledby="deleteProfileModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteProfileModalLabel">Delete Profile</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete your account?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-outline-danger" hx-delete="{% url 'profile' user.pk %}">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}