$btn-primary-color: #76abee;
$btn-secondary-color: #adc2c8;
$alert-color: #e34439;
$alert-hover: #b33931;
$btn-hover: #8ecae6;
$header-bg: #fc813a;
$bg-color: azure;
$bg-footer-color: #e9ecef;
$font-color: #111;
$font-hover-color: #555;
$shadow-primary-color: rgba(17, 17, 17, 0.3);
$price-color: #fafae2;