@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.submit-filters-button {
  background-color: #111;
  border-color: #111;
  margin-top: -0.5rem;
  margin-left: auto;
  align-self: baseline;
}
.submit-filters-button:hover {
  background-color: #555;
  border-color: #555;
  -webkit-box-shadow: inset -4px -8px 20px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset -4px -8px 20px -12px rgba(0, 0, 0, 0.75);
  box-shadow: inset -4px -8px 20px -12px rgba(0, 0, 0, 0.75);
}
.submit-filters-button img {
  width: 2rem;
}

.filter-base-container {
  border-bottom: thin solid #e9ecef;
}

.category-container {
  padding-bottom: 0.5rem;
}
.category-container .category button {
  background-color: #111;
  border-color: #111;
}

.filter-container {
  margin-top: 1rem;
}
.filter-container .price-filter .price-gte {
  flex: 0 1 5rem;
}
.filter-container .price-filter .price-lte {
  flex: 0 1 6rem;
}

#category-filter-input {
  display: none;
}

#filters-data {
  display: none;
}

.announcements-base-container {
  margin-top: 1rem;
}
.announcements-base-container .announcements-list-container {
  justify-content: space-between;
}
@media screen and (max-width: 1400px) {
  .announcements-base-container .announcements-list-container {
    justify-content: space-around;
  }
}
.announcements-base-container .announcements-list-container .card {
  width: 360px;
}
.announcements-base-container .announcements-list-container .card a {
  text-decoration: none !important;
  color: #111;
}
.announcements-base-container .announcements-list-container .card a .poster-container {
  flex: 0 0 360px;
  background-color: rgba(0, 0, 0, 0.1);
  aspect-ratio: 1/1;
  max-height: 360px;
}
.announcements-base-container .announcements-list-container .card a .poster-container .poster-image {
  object-fit: contain;
  padding: 0;
  max-height: 360px;
  max-width: 100%;
}
.announcements-base-container .announcements-list-container .card a .poster-container .detail-link-icon {
  display: none;
}
.announcements-base-container .announcements-list-container .card a .poster-container:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.announcements-base-container .announcements-list-container .card a .poster-container:hover .poster-image {
  filter: brightness(50%);
}
.announcements-base-container .announcements-list-container .card a .poster-container:hover .detail-link-icon {
  display: block;
  width: 2rem;
  height: 2rem;
}
.announcements-base-container .announcements-list-container .card .card-body .card-title, .announcements-base-container .announcements-list-container .card .card-body .card-text {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.announcements-base-container .announcements-list-container .card .card-body strong {
  padding: 4px;
  border: 1px solid #111;
  border-radius: 2px;
  background-color: #fafae2;
}
.announcements-base-container .announcements-list-container .card .card-body .remove-edit-container {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  height: auto;
  z-index: 1000;
}
.announcements-base-container .announcements-list-container .card .card-body:hover {
  border-top: 1px solid #fafae2;
}
.announcements-base-container .announcements-list-container .card .card-body:hover .remove-edit-container {
  display: flex;
}
.announcements-base-container .announcements-list-container .card .card-body:hover .remove-edit-container .btn-danger, .announcements-base-container .announcements-list-container .card .card-body:hover .remove-edit-container .btn-secondary {
  background-color: transparent;
  border: unset;
}
.announcements-base-container .next-page-loader {
  width: 100%;
  text-align: center;
  display: none;
}
.announcements-base-container .next-page-loader img {
  height: 100px;
}
.announcements-base-container .htmx-request.next-page-loader {
  display: block;
}
.announcements-base-container .htmx-request .next-page-loader {
  display: block;
}

/*# sourceMappingURL=index.css.map */
