{% extends 'base.html' %}
{% load static %}

{% block extra_meta %}
    <link rel="stylesheet" href="{% static "/scss/announcements/create.css" %}">
{% endblock %}

{% block main %}
    <div class="container create-announcement-base-container">
        <h1 class="mb-4 mt-4 border-bottom">Create New Announcement</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="invalid-feedback d-inline">
                {{ form.category.errors }}
            </div>
            {% if has_preset_category %}
                {% include "announcements/partial/categories/selector.html" %}
            {% else %}
                {% include "announcements/partial/categories/root_selector.html" %}
            {% endif %}

            <div class="row">
                <div class="col-md-6">
                    <div class="label-errors-container d-flex flex-wrap align-items-baseline justify-content-start">
                        <label for="title-input" class="form-label h4 mt-5">Title</label>
                        <div class="invalid-feedback d-inline w-auto">
                            {{ form.title.errors }}
                        </div>
                    </div>
                    <div class="w-75 input-group mb-3">
                        <input name="title" type="text" class="form-control" {% if form.title.value %}
                               value="{{ form.title.value }}" {% endif %} id="title-input">
                    </div>

                    <div class="label-errors-container d-flex flex-wrap align-items-baseline justify-content-start">
                        <label for="content-input" class="form-label h4 mt-2">Description</label>
                        <div class="invalid-feedback d-inline w-auto">
                            {{ form.content.errors }}
                        </div>
                    </div>
                    <div class="w-75 input-group mb-3">
                        <textarea name="content" rows="10" class="form-control" id="content-input">{% if form.content.value %}{{ form.content.value }}{% endif %}</textarea>
                    </div>

                    <div class="price-input-container">
                        <div class="label-errors-container d-flex flex-wrap align-items-baseline justify-content-start">
                            <label for="id-price-input" class="form-label h4 mt-2">Price</label>
                            <div class="invalid-feedback d-inline w-auto">
                                {{ form.price.errors }}
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-text">
                                <img class="form-check-input mt-0" src="{% static "assets/images/dollar.svg" %}"
                                     alt="search">
                            </div>
                            <input name="price" {% if form.price.value %}
                                   value="{{ form.price.value|stringformat:'s' }}" {% endif %} type="number" min="0"
                                   class="form-control price-input" id="id-price-input">
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="invalid-feedback d-inline w-auto">
                        {{ form.poster.errors }}
                    </div>
                    <div class="poster-container">
                        <label for="poster-input" class="form-label h4 mt-2 poster-input-label d-flex flex-column align-items-center justify-content-center">
                            <div class="w-25 h-25 d-flex align-items-center justify-content-center poster-input-icon-container">
                                <img id="id_add_poster_btn" class="w-100" src="{% static "assets/images/upload-camera.svg" %}" alt="Add Poster"/>
                            </div>
                            <div class="poster-input-label-text">Add Poster</div>
                        </label>
                        <input name="poster" type="file" class="form-control d-none" id="poster-input" accept="image/*">

                        <div class="preview-container mt-2 position-relative align-items-center justify-content-center">
                            <img class="poster-image" src="" alt="Poster Preview"/>

                            <div class="remove-edit-container position-absolute w-100 h-100 top-0 start-0">
                                <button type="button" class="edit-button btn btn-secondary">
                                    <img class="w-10" src="{% static "assets/images/edit-icon.svg" %}" alt="Change Poster">
                                </button>
                                <button type="button" class="ms-1 remove-button btn btn-danger">
                                    <img class="w-10" src="{% static "assets/images/trash.svg" %}" alt="Remove Poster">
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="additional-images-container d-flex flex-wrap justify-content-start">
                        <div class="additional-images-title d-flex justify-content-center align-items-baseline mt-3">
                            <h4 class="w-50 text-center border-bottom">Additional Images</h4>
                        </div>
                        <div class="additional-images-management-form-container d-none">
                            {{ images_formset.management_form }}
                        </div>

                        <div class="image-form-template">
                            <label for="id_images-#-file" class="form-label h4 mt-2 image-input-label flex-column align-items-center justify-content-center">
                                <div class="w-25 h-25 d-flex align-items-center justify-content-center poster-input-icon-container">
                                    <img class="w-100" src="{% static "assets/images/upload-camera.svg" %}"
                                         alt="Add Image"/>
                                </div>
                                <div class="image-input-label-text">Add</div>
                            </label>
                            <input name="images-#-file" id="id_images-#-file" type="file" class="form-control d-none" accept="image/*">

                            <div class="preview-container mt-2 position-relative align-items-center justify-content-center">
                                <img class="preview-image" src="" alt="Poster Preview"/>

                                <div class="remove-edit-container position-absolute w-100 h-100 top-0 start-0">
                                    <button type="button" class="ms-1 remove-button btn btn-danger">
                                        <img class="btn-icon" src="{% static "assets/images/trash.svg" %}" alt="Remove Poster">
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-10 d-flex flex-wrap mt-2 align-items-end justify-content-end buttons-container">
                <div class="invalid-feedback d-flex w-100 justify-content-end">
                    <div class="wrapper">
                        {{ form.non_field_errors }}
                    </div>
                </div>
                <a href="{% url "profile" pk=user.id %}" role="button" class="btn btn-secondary me-1">Cancel</a>
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
        <div class="mt-4"></div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="{% static "js/announcements/create.js" %}"></script>
{% endblock %}