@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.main-content {
  margin-top: 2.5rem;
}
.main-content .data-container {
  padding-bottom: 1rem;
  border-bottom: thin solid #e9ecef;
}
.main-content .info-row h6 {
  width: unset;
}
.main-content .info-row div {
  width: unset;
}
.main-content .announcements-base-container {
  margin-top: 2rem;
}
.main-content .announcements-base-container .announcements-list-container {
  justify-content: space-between;
}
@media screen and (max-width: 1400px) {
  .main-content .announcements-base-container .announcements-list-container {
    justify-content: space-around;
  }
}
.main-content .announcements-base-container .announcements-list-container .add-announcement-btn-container {
  color: #111;
  font-weight: 700;
  text-decoration: none;
}
.main-content .announcements-base-container .announcements-list-container .add-announcement-btn-container .add-announcement-btn {
  border: #555 2px solid;
  border-radius: 0.5rem;
}
.main-content .announcements-base-container .announcements-list-container .add-announcement-btn-container .add-announcement-btn .dummy {
  margin-top: 30%;
}
.main-content .announcements-base-container .announcements-list-container .card {
  width: 360px;
}
.main-content .announcements-base-container .announcements-list-container .card a {
  text-decoration: none !important;
  color: #111;
}
.main-content .announcements-base-container .announcements-list-container .card a .poster-container {
  flex: 0 0 360px;
  background-color: rgba(0, 0, 0, 0.1);
  aspect-ratio: 1/1;
  max-height: 360px;
}
.main-content .announcements-base-container .announcements-list-container .card a .poster-container .poster-image {
  object-fit: contain;
  padding: 0;
  max-height: 360px;
  max-width: 100%;
}
.main-content .announcements-base-container .announcements-list-container .card a .poster-container .detail-link-icon {
  display: none;
}
.main-content .announcements-base-container .announcements-list-container .card a .poster-container:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.main-content .announcements-base-container .announcements-list-container .card a .poster-container:hover .poster-image {
  filter: brightness(50%);
}
.main-content .announcements-base-container .announcements-list-container .card a .poster-container:hover .detail-link-icon {
  display: block;
  width: 2rem;
  height: 2rem;
}
.main-content .announcements-base-container .announcements-list-container .card .card-body .card-title, .main-content .announcements-base-container .announcements-list-container .card .card-body .card-text {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.main-content .announcements-base-container .announcements-list-container .card .card-body strong {
  padding: 4px;
  border: 1px solid #111;
  border-radius: 2px;
  background-color: #fafae2;
}
.main-content .announcements-base-container .announcements-list-container .card .card-body .remove-edit-container {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  height: auto;
  z-index: 1000;
}
.main-content .announcements-base-container .announcements-list-container .card .card-body:hover {
  border-top: 1px solid #fafae2;
}
.main-content .announcements-base-container .announcements-list-container .card .card-body:hover .remove-edit-container {
  display: flex;
}
.main-content .announcements-base-container .announcements-list-container .card .card-body:hover .remove-edit-container .btn-danger, .main-content .announcements-base-container .announcements-list-container .card .card-body:hover .remove-edit-container .btn-secondary {
  background-color: transparent;
  border: unset;
}
.main-content .announcements-base-container .next-page-loader {
  width: 100%;
  text-align: center;
  display: none;
}
.main-content .announcements-base-container .next-page-loader img {
  height: 100px;
}
.main-content .announcements-base-container .htmx-request.next-page-loader {
  display: block;
}
.main-content .announcements-base-container .htmx-request .next-page-loader {
  display: block;
}
.main-content .buttons-container {
  margin-left: 0;
}

.profile-picture {
  height: 300px;
  width: 300px;
  padding: 0;
}
.profile-picture img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

/*# sourceMappingURL=common_user_profile.css.map */
