@import "fonts";
@import "colors";

body {
  font-family: $roboto-font;
  font-weight: map-get($font-weights, "reg");
  font-size: 16px;
  min-width: 320px;
  background-color: $bg-color;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $btn-primary-color;
}

a:hover {
  color: $btn-secondary-color;
}

main {
  max-width: 1280px;
}

.btn-primary {
  background-color: $btn-primary-color;
  color: $bg-color;
  border: none;

  &:hover {
    background-color: $btn-hover;
    border: 1px solid $btn-primary-color;
  }
}

.btn-secondary {
  background-color: $btn-secondary-color;
  color: $bg-color;
  border: none;

  &:hover {
    background-color: $btn-hover;
    border: 1px solid $btn-primary-color;
  }
}

.modal-content {
  background-color: $bg-color;
}

.modal-footer {
  background-color: $bg-footer-color;
}

.base-container {
  max-width: 1280px;
  margin: 0 auto;
}

.error-block{
  font-size: 14px;
  color: $alert-color;

}