$btn-primary-color: #76abee;
$btn-secondary-color: #7a8c92;
$alert: #e34439;
$btn-hover: #8ecae6;
$header-bg: #fc813a;
$bg-color: azure;
$bg-footer-color:#e9ecef;
$font-color:#111;
$font-hover-color:#555;
$shadow-primary-color:rgba(17, 17, 17, 0.3);