$btn-primary-color: #023e8a;
$btn-secondary-color: #0096c7;
$alert: #e34439;
$btn-hover: #8ecae6;
$header-bg: #fc813a;
$bg-color: azure;
$bg-footer-color:#e9ecef;
$font-color:#111;
$font-hover-color:#555;
