{% load static %}

<form id="signin-form" hx-post={% url "login" %} hx-trigger="submit"  hx-target="#signin-form" hx-swap="outerHTML">
    {% csrf_token %}
    <div class="modal-body">
        {% if form.errors %}
            <div class="mb-3 invalid-feedback d-inline">
                Please enter a correct Email and password. Note that both fields may be case-sensitive.
            </div>
        {% endif %}

        <div class="mb-3">
            <label for="id_login_email_input" class="col-form-label"></label>
            <input autocomplete="username" type="email" class="form-control" placeholder="Email"
                   id="id_login_email_input" name="username">
        </div>

        <div class="mb-3">
            <label for="id_login_password_input" class="col-form-label"></label>
            <div class="input-group flex-nowrap mb-3">
                <input type="password" autocomplete="current-password" class="form-control password"
                       placeholder="Password" id="id_login_password_input" name="password">
                <div class="input-group-text">
                    <img class="form-check-input mt-0 togglePasswordVisibility" data-input-id="id_login_password_input" src="{% static "assets/images/eye.svg" %}" alt="search">
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Sign In</button>
        </div>
    </div>
</form>